#comment{
	position:fixed;
	top:10%;
	height:80%;
	width: 200px;
	left:100px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: rgb(132, 244, 133);
}
#comment_header{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 20px;
	background-color: #DDDDDD;
  float: left;
}
#comment ul{
	padding: 0px;
  margin: 0px;
}
#comment li{
	float:left;
	list-style: none;
  margin-left: 10px;
  cursor: pointer;
}
